<div class="navbar">
    <a class="site-title" href="{{ site.url }}{{ site.baseurl}}/">{{ site.title }}</a>

    <ul class="pull-right">
        <li class="pull-left" id="searchBtn">
        	<a href="javascript: ;">Search</a> / 
        </li>
        {% for x in site.navbar %}
        <li class="pull-left">
            {% if x.absolute-link %}
                {% assign x-url = x.absolute-link %}
            {% else %}
                {% assign x-url = site.url | append: site.baseurl | append: "/" | append: x.link %}
            {% endif %}
            <a href="{{ x-url }}">{{ x.name }}</a>
            {% if forloop.last == false %}/{% endif %}
        </li>
        {% endfor %}
    </ul>

    <hr>
</div>

<!-- 弹窗 -->
<div id="searchModal" class="searchModal">
 
  <!-- 弹窗内容 -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>弹窗中的文本...</p>
  </div>
 
</div>