<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="container">
        {% include navbar.html %}
        <div class="page-title">
            {{page.title}}
        </div>
        <div class="content">
            {{ content }}
        </div>
        {% include footer.html %}
    </div>
<!-- 弹窗 -->
    <div id="searchModal" class="searchModal">
      <!-- 弹窗内容 -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>弹窗中的文本...</p>
      </div>
    </div>
</body>
